@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #c3dff2;
}
p {
    font-size: larger;
}

.container {
    margin-top: 2rem;
    display: flex;
    height: 100vh;
    width: 90vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn-start {
    cursor: pointer;
    margin-top: 2rem;
    border: 10px #fadb83 solid;
    background-color: #7a8be6;
    width: 180px;
    height: 90px;
    font-weight: bolder;
    font-size: larger;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.title {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 100px;
    text-align: center;
    margin-bottom: 2rem;
    border: 10px solid blue;
}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.controls {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controls button {
    cursor: pointer;
    margin-top: 2rem;
    border: 10px #fadb83 solid;
    background-color: #7a8be6;
    width: 180px;
    height: 90px;
    font-weight: bolder;
    font-size: larger;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    }

    .grid .box {
        cursor: pointer;
    }


    .box img {
        min-width:  250px;
        max-width:  250px;
    }


.binary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}

.binary img {
    cursor: pointer;
}

.calc {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.inputs input {
    font-size: xx-large;
    text-align: center;
}

.cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 200px;
    border: 2px solid blue;
}

.cpu button {
    font-size: x-large;
    width: 150px;
    height: 50px;
    background-color: #0066ff;
    border: 5px solid rgb(0, 0, 158);
    color: white;
    cursor: pointer;
}

#result {
    margin-top: 2rem;
    font-size: xx-large;
    width: 200px;
    text-align: center;
}

.arrows {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    width: 100px;
    rotate: 90deg;
}

.arrow-right {
    width: 100px;
}
.arrow-left {
    width: 100px;
    rotate: 180deg;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.memory input {
    font-size: larger;
    text-align: center;
}

.memory {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.m  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.law {
    width: 70%;
    text-align: center;
}

.time {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.time .arrow-left, .time .arrow-right {
    cursor: pointer;
}

/* .backward {
    opacity: 0;
} */
    
    /* .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; } */

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-3deg); }
    20% { transform:  rotate(3deg); }
    30% { transform:  rotate(0deg); }
    40% { transform: rotate(3deg); }
    50% { transform:  rotate(-3deg); }
    60% { transform:  rotate(0deg); }
    70% { transform:  rotate(-3deg); }
    80% { transform:  rotate(3deg); }
    90% { transform:  rotate(0deg); }
    100% { transform:  rotate(-3deg); }
  }